{% extends "layout.html" %}

{% block content %}

<!-- <div class="row">
	
</div> -->
<div class="row ">

	<div class = 'col-md-5 top'>
		<div class="btn-group" role="group" aria-label="..." id='buttons'>
			
		
		</div>
		<button type="button" class="btn btn-primary" id="add_day">+Add Day</button>
		<button type="button" class="btn btn-primary" id="remove_day">-Remove Day</button>
	</div>






	<form role="form">
   <div class="col-md-2 form-group">
   	<h3>Hotels</h3>
 <select id="hotel_select" class="form-control">

</select>
  
   <button type="button" class="btn btn-primary" id="add_hotel" >Add</button>
    </form>
</div>
</form>



    
<!--    <div class = "row">
   	<h3>Things</h3>
   	</div> -->
     <form role="form">
   <div class="col-md-2 form-group">
    <h3>Things To Do</h3>
 <select id="thing_select" class="form-control">
</select>
  
   <button type="button" class="btn btn-primary" id="add_thing">Add</button>
    </form>
</div>
</form>

     <form role="form">
   <div class="col-md-2 form-group">
    <h3>Restaurants</h3>
 <select id="restaurant_select" class="form-control">
</select>
  
   <button type="button" class="btn btn-primary" id="add_restaurant">Add</button>
    </form>
</div>
</form>
    
    <!-- <div class = "row">
   	<h3>Restaurants</h3>
   	</div> -->
</div>

<div class="row ">
	<div class = 'col-md-3 top' >
		<h2>Plan for Day 1</h2>
		<ul>
			<li><h3>Hotel</h3><ul id = 'hotels_list'></ul></li>
			<li><h3>Things To Do</h3><ul id = 'things_list'></ul></li>
			<li><h3>Restaurants</h3><ul id = 'restaurants_list'></ul></li>
		</ul>


		
	</div>
 <div class = 'col-md-9 top' id = "map-canvas"></div>
</div>





    
    	
<script type="text/javascript" src = "/bower_components/jquery/dist/jquery.min.js"></script>


<script type="text/javascript" src = "/javascripts/jquery.js"></script>

<script>
   {% autoescape false %}
var all_hotels = {{ hotels | json }};
var all_restaurants = {{ restaurants | json }};
var all_things_to_do = {{ things_to_do | json }};

{% endautoescape %}
</script>



{% endblock %}









